 @font-face {
     font-family: 'yekan';
     src: url('/fonts/BYekan.eot'),
          url('/fonts/BYekan.eot?#FooAnything') format('embedded-opentype');
     src: local('☺'), url('/fonts/BYekan.woff') format('woff'),
          url('/fonts/BYekan.ttf') format('truetype'),
          url('/fonts/BYekan.svg') format('svg');
 }
 body{ width: 100%;background-color: #edeef0;}
 html *{font-family: yekan;font-weight: 800;}
 .form-control {border-radius: 2px !important;box-shadow: none!important;font-weight: 800 !important;height: 45px;font-size: 12pt;}
 label{margin: 0;font-weight: 800!important;}
 .row{ margin: 0;}
 button{ font-weight: 800;font-size: 12pt;}
 .errorborder {box-shadow: 0px 0px 2px 1px rgba(255,0,0,1)!important;}
 .loginImage{ width: auto;height: 50px;}
 .loginBody{ width: 25%;margin: auto;text-align: center;padding: 10px;padding-bottom: 60px;}
 .greenButton{ background-color: #3cbda1;color: white;border: none;border-radius: 3px;padding: 10px 10px}
 #imgLoading{ position: absolute;left: 140px;top: 12px;width: 20px;height: 20px;display: none;}
 .bodyArea{ width: 100%;padding: 20px;text-align: center;}
            
 .headerNav{ background-color: white;border-bottom: 1px solid darkgray;}
 .headerNav ul{overflow: hidden;list-style-type: none;font-weight: 800;margin-bottom: 0;}
 .headerNav ul li{float: right;padding: 3px 20px;border-left: 1px solid darkgray;color: #717171;cursor: pointer;}
 .headerNav ul li a{ text-decoration: none;}
 .headerNav ul li a:hover{ color: #3f3f3f;}
 .headerNav ul li:last-child {border: none;}
 .admintable th {
     text-align: center !important;
     background-color: #0c0183;
     color: #fefefe;
     border: none !important;
 }

 .admintable {
     width: 100%;
     font-family: yekan;
     text-align: center;
     font-size: 10pt;
     font-weight: 800;
     border: 1px solid rgb(198, 205, 213);
     border-collapse: collapse;
     -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
     border-radius: 0px;
     overflow: hidden;
     margin-bottom: 0 !important;
     direction: rtl;
 }

 .admintable tr th { padding: 2px 5px !important; }

 .admintable td {
     padding: 2px 5px !important;
     vertical-align: middle !important;
     border: none !important;
     border-bottom: #c7ced6 1px solid !important;
     border-top: #c7ced6 1px solid !important;
     text-shadow: -1px 0px 1px rgba(149, 150, 150, 1);
 }

 .admintable td a { margin-top: 5px; }

 .admintable td span { margin-top: 5px; }

 .admintable tr:nth-child(even) { background-color: #fefefe; }

 .admintable tr:nth-child(odd) { background-color: #f7f6fe; }